<!-- having song comming from the controllers -->




<ul style="background-color: blueviolet;">


   <% songs.forEach(s => { %>
    <li><%= s.title %></li>
    <li><%= s.album %></li>
   <% }) %> 
</ul>